{% extends 'base.html' %}

{% block title %}
Contact | Deepak Sen
{% endblock %}

{% block content %}

<section class="contact-modern">

    <div class="contact-header">

        <span>Contact Me</span>

        <h1>
            Let's Work <span>Together</span>
        </h1>

        <p>
            Feel free to reach out for collaborations,
            freelance projects, web development,
            or AI-related opportunities.
        </p>

    </div>

    <div class="contact-grid">

        <div class="contact-card">

            <i class="fa-solid fa-envelope"></i>

            <h3>Email</h3>

            <p>dksen0804@gmail.com</p>

        </div>

        <div class="contact-card">

            <i class="fa-solid fa-phone"></i>

            <h3>Phone</h3>

            <p>+91 YOUR-NUMBER</p>

        </div>

        <div class="contact-card">

            <i class="fa-brands fa-github"></i>

            <h3>GitHub</h3>

            <p>github.com/deepaksendev</p>

        </div>

    </div>

</section>

{% endblock %}